<div class="container">
    <div class="section spacecraft-section1">
        <div class="content">
            <p class="label">TECHNOLOGY</p>
            <a href='gallery'><h2>SPACECRAFT<br>GALLERY</h2></a>
        </div>
    </div>

    <div class="section spaceport-section2">
        <div class="content">
            <p class="label">TAKE OFF & LANDING</p>
           <a href='cube'><h2>FUTURE<br>WORKS</h2></a>
        </div>
    </div>

    <div class="section spaceflight-section3">
        <div class="content">
            <p class="label">JOURNEY</p>
            <h2>SPACEFLIGHT<br>EXPERIENCE</h2>
        </div>
    </div>
</div>