<div class="container">
    <div class="section spacecraft-section1">
        <div class="content">
            <p class="label">TECHNOLOGY</p>
            <h2>SPACECRAFT<br>FLEET</h2>
        </div>
    </div>

    <div class="section spaceport-section2">
        <div class="content">
            <p class="label">TAKE OFF & LANDING</p>
            <h2>SPACEPORT<br>AMERICA</h2>
        </div>
    </div>

    <div class="section spaceflight-section3">
        <div class="content">
            <p class="label">JOURNEY</p>
            <h2>SPACEFLIGHT<br>EXPERIENCE</h2>
        </div>
    </div>
</div>