<head>
  <!-- Other head elements -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>


<div class="gallery-container">
  <!-- <a routerLink="/" class="home-logo">
      <img src="assets/logo.png" alt="Home" />
  </a> -->
  <a routerLink="/" class="home-logo" href="#">
    <img src="assets/logo.png" alt="Home"/>
</a>
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery">
      <div class="carousel-container">
          <ul class="cards">
              <li *ngFor="let item of items; let i = index" 
                  [style.transform]="getTransform(i)"
                  [style.opacity]="getOpacity(i)"
                  [style.z-index]="getZIndex(i)"
                  [class.active]="i === currentIndex"
                  class="card-item">
                  <img [src]="item.imageUrl" [alt]="item.title">
                  <h3 class="title" [class.flash]="i === currentIndex">{{ item.title }}</h3>
              </li>
          </ul>
      </div>
      <div class="actions">
          <button (click)="prev()">Prev</button>
          <button (click)="next()">Next</button>
      </div>
  </div>
</div>
