<div class="spaceline-container">
    <header class="spaceline-header">
        <div class="video-background">
            <video autoplay muted loop playsinline id="myVideo">
                <source src="assets/video.mp4" type="video/mp4">
                <source src="assets/video.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <div class="overlay"></div>
            <!-- Added overlay -->
        </div>
    </header>

    <h3 class="company">SpaceCo</h3>
    <h2 class="first">SPACELINE<br>FOR<br>EARTH</h2>

    <div class="container2">
        <div class="left-section">
            <img src="https://images.ctfassets.net/mdbdgwuz60cu/1YWobfNdpoMKERjoexUam0/7e0f30c7712765d4f8552668849e4d15/Screenshot_2024-08-08_at_11.42.59_AM.png?w=550&h=240&q=90&fm=jpg" alt="Business Model Overview">
        </div>
        <div class="right-section">
            <div class="title">
                <span><a href="signup">Join Us Now</a></span>
            </div>
        </div>
    </div>
</div>

<app-card></app-card>
<app-testimonials></app-testimonials>
<app-footer></app-footer>