<div class="spaceline-container">
    <header class="spaceline-header">
        <div class="video-background">
            <video autoplay muted loop playsinline id="myVideo">
                <source src="assets/boom.mp4" type="video/mp4">
                <source src="assets/boom.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <div class="overlay"></div>
        </div>

        <div class="content-wrapper">
            <div class="logo">
                <h3>SpaceCo.</h3>
            </div>

            <div class="main-text">
                <p class="welcome-text">WELCOME TO THE</p>
                <h1>SPACELINE<br>FOR<br>EARTH</h1>
            </div>

            <div class="video-card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="assets/joinnow.png" alt="Business Model Overview">
                    </div>
                    <div class="card-text">
                        <span class="watch-label"></span>
                        <h4>
                            <a href='signup'>Join Us Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<app-card></app-card>
<app-testimonials></app-testimonials>
<app-footer></app-footer>